@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  font-style: normal;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  font-style: italic;
  src: local('Rubik'),
    url('../assets/fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype');
}
