@import 'foundation';
@import 'variables';

@import 'word-spacing.scss';
@import 'font-family.scss';

.center-with-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-with-grid {
  display: grid;
  place-items: center;
}
.center-with-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-drop {
  box-shadow: inset 0 100px 100px -80px #000000,
    inset 0 -100px 100px -80px #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.bg-gradient {
  background: $primary;
  background-image: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

.bg-gradient-blur {
  background-image: linear-gradient(
    135deg,
    $primary-soft 20%,
    $secondary-soft 100%
  );
  filter: blur(24px);
}

.text-gradient {
  background-image: linear-gradient(90deg, $primary, $secondary);
  background-clip: text;
  color: transparent;
}

.text-secondary-gradient {
  background-image: linear-gradient(90deg, #2f89dd, $secondary);
  background-clip: text;
  color: transparent;
}

.text-gradient-fixed {
  background-image: linear-gradient(125deg, $primary, $secondary);
  background-clip: text;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: auto 100%;
  // background-position: center bottom;
  // background-origin: 0px;
  color: transparent;
}

.text-gradient-kmitl {
  background-image: linear-gradient(135deg, $kmitl, #fece2f);
  background-clip: text;
  color: transparent;
}

.mark-img-github {
  background-image: linear-gradient(90deg, $light-gray, $light-gray);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url('../assets/icons/github.svg');
  mask-size: 24px;
  mask-repeat: no-repeat;
  mask-position: center;

  &-hover {
    background-image: linear-gradient(90deg, $primary, $secondary);
  }
}

.mark-img-lightbulb {
  background-image: linear-gradient(90deg, $primary, $secondary);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url('../assets/icons/lightbulb.svg');
  mask-size: 112px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mark-img-arrow-forward {
  background-image: linear-gradient(90deg, $primary, $secondary);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url('../assets/icons/arrow-forward.svg');
  mask-size: 24px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.vertical-gradient {
  height: 100%;
  width: 0px;
  border-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(45deg, $primary, $secondary);
  border-image-slice: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(25vh);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.fade-in-section {
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
html {
  &.light {
    .bg-light-twotone {
      background: linear-gradient(90deg, #ffffff 50%, #f4f4f4 50%);
    }

    .menu-soft-text {
      position: absolute;
      color: rgba(0, 0, 200, 0.05);
    }
  }

  &.dark {
    .bg-light-twotone {
      background: linear-gradient(90deg, #000000 50%, #0c0c0c 50%);
    }

    .menu-soft-text {
      position: absolute;
      color: rgba(126, 126, 163, 0.24);
    }
  }
  .menu-soft-text {
    font-size: 16vw;
    letter-spacing: 20px;
  }

  @media screen and (max-width: $md) and (min-width: 556px) {
    .menu-soft-text {
      font-size: 10vw;
      letter-spacing: 18px;
    }
  }

  @media screen and (max-width: 556px) {
    .menu-soft-text {
      font-size: 10vw;
      letter-spacing: 8px;
    }
  }
}

.explain-hover {
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(200%);
  }
}
