@import 'foundation';
@import 'variables';

@import 'word-spacing.scss';
@import 'font-family.scss';

.center-with-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-with-grid {
  display: grid;
  place-items: center;
}
.center-with-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-drop {
  box-shadow: inset 0 100px 100px -80px #000000,
    inset 0 -100px 100px -80px #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.bg-gradient {
  background: $primary;
  background: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

.text-gradient {
  background-image: linear-gradient(90deg, $primary, $secondary);
  background-clip: text;
  color: transparent;
}

.text-gradient-kmitl {
  background-image: linear-gradient(135deg, $kmitl, #fece2f);
  background-clip: text;
  color: transparent;
}

.mark-img-github {
  background-image: linear-gradient(90deg, $light-gray, $light-gray);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url('../assets/icons/github.svg');
  mask-size: 24px;
  mask-repeat: no-repeat;
  mask-position: center;

  &-hover {
    background-image: linear-gradient(90deg, $primary, $secondary);
  }
}

.mark-img-arrow-forward {
  background-image: linear-gradient(90deg, $primary, $secondary);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url('../assets/icons/arrow-forward.svg');
  mask-size: 24px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.vertical-gradient {
  height: 100%;
  width: 0px;
  border-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(45deg, $primary, $secondary);
  border-image-slice: 1;
}

.hexagon-wrapper-transform {
  transform: rotate(-30deg) skewX(30deg) scaleY(0.866);
}

.hexagon-inner-transform {
  transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
}
